<body id = "background2">
	<div class="heading">
		<h1>Stats</h1>
	</div>




	<p><%= extractJSON(params)%></p>
	<p><%= ranked_stats_JSON(params)%></p>
		<p><%= get_champ_ids%></p>
	<p><%= get_champ_names%></p>


</body>


